* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: gainsboro;
}

.header {
    display: flex;
    justify-content: center;
    padding: 35px;
}

.table-section {
    display: flex;
    justify-content: center;
}

.graph {
    display: flex;
    justify-content: center;
}

#users-to-be-filled-from-db div{
    padding: 30px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#users-to-be-filled-from-db div *{
    margin-bottom: 5px;
    padding: 5px 5px 5px 0;
}

.table{
    width: 74.5%;
    padding: 40px;

}

td, th {
    border: 1px solid;
    text-align: center;
    padding: 5px 10px 0;
    background: white;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
}

#myChart {
    border: 1px solid black;
    background: white;
    padding: 22px;
}

.info {
    display: flex;
    justify-content: center;
}