<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Computer Networks">
    <title>Computer Networks</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
    <script th:src="@{scripts/nav.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>
    <section class="header">
        <h1>Entrance data</h1>
    </section>
    <section>
        <div>
            <h3><span>Total people now:</span></h3>
            <h3>
                <span id="val3"></span>
            </h3>
        </div>
    </section>
    <section class="graph">
        <h3><span class="graph-over-people">Graph over total people</span></h3>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        <div class="graphs">
            <script th:inline="javascript">
            var xValues = [[${xValues}]];
            var yValues = [[${yValues}]];

            new Chart("myChart", {
              type: "line",
              data: {
                labels: xValues,
                datasets: [{
                  fill: false,
                  lineTension: 0,
                  backgroundColor: "rgba(0,0,255,1.0)",
                  borderColor: "rgba(0,0,255,0.1)",
                  data: yValues
                }]
              },
              options: {
                legend: {display: false},
                scales: {
                  yAxes: [{ticks: {min: 6, max:16}}],
                }
              }
            });
            </script>
        </div>
    </section>
    <section class="table-section">
        <h3>Table over people passing</h3>
        <table class="table" id="table">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Total People
                    </th>
                </tr>
                <tr th:each="sensorData:${allsensorlist}">
                    <td th:text="${sensorData.id}"></td>
                    <td th:text="${sensorData.date}"></td>
                    <td th:text="${sensorData.time}"></td>
                    <td th:text="${sensorData.totalPeople}" class="count-me"></td>
            </table>
    </section>

    <section>
        <h3>A bit of statistics over the data</h3>
        <span id="val"></span>
        <span id="val2"></span>

        <script th:inline="javascript">
                var table = document.getElementById("table"), sumVal = 0;
                var total = 0;
                for (var i = 1; i < table.rows.length; i++) {
                  sumVal = sumVal + parseInt(table.rows[i].cells[2].innerHTML);
                }
                for (var i = 1; i < table.rows.length; i++) {
                    total += parseInt(table.rows[i].cells[2].innerHTML);
                    }
                var avg = total / table.rows.length;
                console.log(avg);
                document.getElementById("val").innerHTML = "Total people passing in a day: " + sumVal;
                document.getElementById("val2").innerHTML = "Average people passing: " + avg;
                console.log(sumVal);


                var rows = document.getElementById("table").getElementsByTagName("tr");


              for(var i = 0; i < rows.length; i++)
                  { for (var j = 0; j < rows.length; j++) {
                    var first = parseInt(table.rows[i].cells[3].innerHTML);
                  }

                console.log("First: "+first);
                document.getElementById("val3").innerHTML = first;
              }
        </script>
    </section>
    <section class="info">
        <h3>Information about the data</h3>
        <ul>
            <li>Id represents the id of the time the sensor registered that people passed by</li>
            <li>Date is the date that the people passed by</li>
            <li>Time is the time given in hour, minutes and seconds.</li>
            <li>Total people is the total people in the building. When total people reduces,
            it means that people are leaving the building. When it increases, people are walking into the building.</li>
        </ul>
    </section>

    <footer>
        <p>
            ©Group 7: This is a project in the course Data Communication and Network Programming at NTNU Ålesund.

        </p>
    </footer>
</body>

</html>