<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Computer Networks">
    <title>Computer Networks</title>
    <link rel="stylesheet" href="computernetworks.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">

</head>
    <div id="info">
        <form action="">
            <h2 class="small-header">Information from sensor</h2>
            <div class="row">
                <label">Info1</label>
                <input disabled="disabled" type="text" name="info" id="form-input-info" class="disabled">
            </div>
            <div class="row">
                <label">Info1</label>
                <input disabled="disabled" type="text" name="info" id="form-input-info" class="disabled">
            </div>
            <div class="row">
                <label">Info1</label>
                <input disabled="disabled" type="text" name="info" id="form-input-info" class="disabled">
            </div>
            <div class="row">
                <label">Info1</label>
                <input disabled="disabled" type="text" name="info" id="form-input-info" class="disabled">
            </div>
            <div class="row">
                <label">Info1</label>
                <input disabled="disabled" type="text" name="info" id="form-input-info" class="disabled">
            </div>
            <div class="column">
                <label>Info</label>
                <input disabled="disabled" type="text" name="info" id="form-input-info" class="disabled">
            </div>
        </form>

    </div>
<body>

</body>